h1{
    color: darkblue;
    text-align: center;
    background-color: rgb(135, 143, 250);
}
img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;

}
p{
    font-size: 30px;
    text-align: left;
    color: #0c8882fb;
}
ul,ol{
    text-align: left;
    list-style-position:inside;
}
ul,li{
    margin: 5px 0 ;
    font-size: 25px;
    color: #0c8882fb;
}
ol,li{
    margin: 5px 0;
    font-size: 25px;
    color: #0c8882fb;
}